* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
     font-family: 'Open Sans';
     font-size: 15px;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
}

/* HEADER */

.header {
    width: 100%;
    padding-top: 50px;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: #292929;
    margin-right: 37px;

}

nav:last-child {
    margin-right: 30px;
}
/* inner */

.inner {
    background-image: url("../img/header-bc.png");
    padding: 170px 0 70px 0;
    text-align: center;
    color: #fff;
}

.inner-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;

}
.inner-desc {
    font-size: 22px;
    margin-bottom: 100px;
}

/* btn */

.buttons {
    margin-bottom: 95px;
}
.btn {
    width: 220px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 22px 27px;
    border: 5px solid white;
    background: none;

    transition: all 1s;
}
.btn-mr {
    margin-right: 25px;
}

.btn:hover {
    background-color: #00897B;
    border: 5px solid #00897B;
}

.scroll-down {
    position: relative;
    padding-right: 15px;
}

.scroll-down::after {
    content: "";
    position: absolute;
    transform:rotate(45deg);

    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #fff;
    padding: 5px;
}

/* about us */

.about {
    padding: 120px 0 128px 0;
    text-align: center;
}
.about-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 35px;
}
.about-desc {
    width: 625px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-item {
    width: 250px;
}
.about-wrap--title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

    padding-top: 100px;
}

.about-item-1 {
    background: url("../img/about-1.png") no-repeat top;
}
.about-item-2 {
    background: url("../img/about-2.png") no-repeat top;
}
.about-item-3 {
    background: url("../img/about-3.png") no-repeat top;
}