* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
     font-family: 'Open Sans';
     font-size: 15px;
}
.container {
    max-width: 117rem;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-image: url("../img/header-bc.png");
    width: 100%;
}

/* navbar */

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 55px 120px 50px 110px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: #292929;
    margin-right: 37px;

}

nav:last-child {
    margin-right: 30px;
}
/* inner */

.inner {
    padding: 170px 0 70px 0;
    text-align: center;
    color: #fff;
}

.inner-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;

}
.inner-desc {
    font-size: 22px;
    margin-bottom: 100px;
}

/* btn */

.buttons {
    margin-bottom: 95px;
}
.btn {
    width: 220px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 22px 27px;
    border: 3px solid white;
    background: none;

    transition: all 0.5s;
}
.btn-mr {
    margin-right: 25px;
}

.btn:hover {
    background-color: #00897B;
    border: 3px solid #00897b;
}

.scroll-down {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}

.scroll-down::after {
    content: "";
    position: absolute;
    transform:rotate(45deg);

    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: #fff;
    padding: 5px;
}

/* ABOUT US */

.about {
    padding: 120px 0 128px 0;
    text-align: center;
}
.about-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 35px;
}
.about-desc {
    max-width: 625px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-item {
    width: 250px;
}
.about-wrap--title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

    padding-top: 100px;
}

.about-item-1 {
    background: url("../img/about-1.png") no-repeat top;
}
.about-item-2 {
    background: url("../img/about-2.png") no-repeat top;
}
.about-item-3 {
    background: url("../img/about-3.png") no-repeat top;
}

/* SERVICES */

.services {
    background-color: #E4FDF9;
    padding: 170px 0 120px 0;
    text-align: center;
}
.services-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}
.services-desc {
    max-width: 625px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.services-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.services-item {
    background-color: #fff;
    max-width: 370px;
    height: auto;
    text-align: center;
    padding: 50px;

    transition: all 0.8s;

}
.services-item:hover{
    background-color: #00897b;
    color: #fff;
}

.services-img {
    margin-bottom: 35px;
}
.services-wrap--title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.services-wrap--desc {
    margin-bottom: 40px;
}

.btn-service{
    border: 3px solid black;
    color: black;
}
.btn-service:hover{
    border: 3px solid #fff;
    color: #fff;
}